[Unit]
Description=树莓派温度控制风扇服务
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /home/bi9bjv/github_upload_temp/cpuweb/temperature-control/fan_control.py
WorkingDirectory=/home/bi9bjv/github_upload_temp/cpuweb/temperature-control

[Install]
WantedBy=multi-user.target